Cython>=0.29.21
h5py>=2.10.0
hnswlib>=0.4.0
joblib>=0.16.0
kaggle>=1.5.10
lifelines>=0.25.7
matplotlib>=3.2.2
numba>=0.52.0
numpy>=1.19.5
pandas>=1.0.5
requests>=2.24.0
scikit_learn>=1.1.1
scipy>=1.5.0
seaborn>=0.11.2
statsmodels>=0.11.1
torch>=1.7.1+cu110
torchvision>=0.8.2+cu110
xgboost>=1.5.1
